{#
{% block header %}
  <nav{{navbar_attributes}}>
    {% if container_navbar %}
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            {% endif %}
            {{ page.header }}
            {% if page.primary_menu %}
              <button aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#CollapsingNavbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="CollapsingNavbar">
                {{ page.primary_menu }}
              </div>
            {% endif %}
            {% if container_navbar %}
          </div>
        </div>
      </div>
    {% endif %}
  </nav>
{% endblock %}
#}

{% extends "@bootstrap_barrio/layout/page.html.twig" %}


{% block head %}
  {% if page.secondary_menu or page.top_header or page.top_header_form %}
    <nav class="bg-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
          {% if container_navbar %}
          <div class="container">
          {% endif %}
              {{ page.secondary_menu }}
              {{ page.top_header }}
              {% if page.top_header_form %}
                <div class="form-inline navbar-form float-right">
                  {{ page.top_header_form }}
                </div>
              {% endif %}
          {% if container_navbar %}
          </div>
          {% endif %}
          </div>
        </div>
      </div>
    </nav>
  {% endif %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <nav class="navbar navbar-expand-sm navbar-light">
          <div style="width:130px">
            {{ page.header }}
          </div>
          {% if page.primary_menu or page.header_form %}
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
              data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="nav justify-content-end collapse navbar-collapse" id="collapsibleNavId">
              <div class="mt-2 mt-lg-0">
                {{ page.primary_menu }}
                {% if page.header_form %}
                  <div class="form-inline navbar-form float-right">
                    {{ page.header_form }}
                  </div>
                {% endif %}
              </div>
          </div>
          {% endif %}
        </nav>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
  <main>
    <a id="main-content" tabindex="-1"></a>
    {{ page.content }}
  </main>
{% endblock %}
{% block footer %}
  <div class="{{ container }}">
    {% if page.footer_first or page.footer_second %}
      <div class="row">
        {%if page.footer_first %}
          <div class="col-sm-6">
            <div class="row">
            {{ page.footer_first }}
            </div>
          </div>
        {% endif %}

        {%if page.footer_second %}
          <div class="col-sm-6">
            {{ page.footer_second }}
          </div>
        {% endif %}
        
      </div>
    {% endif %}
  </div>
{% endblock %}